html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body {
    padding: 0;
    font-family: "adelle";
    font-size: 18px;
    color: #000000;
    background-color: #fefbd8;
}

.container {
    padding: 0 10px;
}

/* Header */

#logo img {
    width: calc(100% - 20%);
    height: auto;
    margin: 0 10%;
    padding-top: 10px;
}

#menu {
    text-align: center;
}

#menu ul {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 15px;
}

#menu li {
    text-transform: uppercase;
    display: inline;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2.5em;
}

#menu li + li {
    padding-left: 10%;
}

#menu a {
    text-decoration: none;
    color: #3e958f;
    border: none;
}

#menu a:hover,
#menu .current_page_item a {
    text-decoration: none;
    color: #f14b11;
}

/* Main Section */

#paragraph-style {
    border: 10px solid #fed37c;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

h3 {
    color: #f14b11;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 3em;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

h4 {
    color: #f7ae36;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2.2em;
    margin: 0;
    padding-bottom: 5px;
}

#paragraph {
    text-align: justify;
}

#button {
    background-color: #3e958f;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fefbd8;
    border: 2px solid #3e958f;
}

#paragraph-style a {
    text-decoration: none;
}

#button:hover {
    text-decoration: none;
    background-color: #fefbd8;
    border: 2px solid #3e958f;
    color: #3e958f;
}

/* Colors */

#colors {
    padding-top: 10px;
}

#colors p {
    text-align: center;
}

#color1 {
    padding: 20px;
    background-color: #f14b11;
    border: 10px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

#color2 {
    padding: 20px;
    background-color: #f7ae36;
    border: 10px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

#color3 {
    padding: 20px;
    background-color: #fed37c;
    border: 10px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

#color4 {
    padding: 20px;
    background-color: #fefbd8;
    border: 10px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

#color5 {
    padding: 20px;
    background-color: #3e958f;
    border: 10px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
