html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body {
    padding: 0;
    font-family: "adelle";
    font-size: 18px;
    color: #000000;
    background-color: #fefbd8;
}

.site-container {
    max-width: 1000px;
}

#container {
    padding: 0 10px;
}

@media all and (min-width: 1000px) {
    #container {
        margin: auto;
    }
}

/* Header */

@media all and (min-width: 1000px) {
    header {
        padding-bottom: 30px;
        margin: auto;
        position: relative;
    }

    header::after {
        content: "";
        clear: both;
        display: block;
    }
}

#logo img {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding-top: 10px;
}

@media all and (min-width: 1000px) {
    #logo {
        float: left;
    }
}

#menu {
    text-align: center;
}

#menu ul {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 15px;
}

#menu li {
    text-transform: uppercase;
    display: inline;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2.5em;
}

#menu li + li {
    padding-left: 5%;
}

#menu a {
    text-decoration: none;
    color: #3e958f;
    border: none;
}

#menu a:hover,
#menu .current_page_item a {
    text-decoration: none;
    color: #f14b11;
}

@media all and (min-width: 1000px) {
    #menu {
        position: relative;
        width: 100%;
        top: 185px;
        left: 160px;
    }

    #menu li {
        display: inline-block;
    }
}

/* Main Section */

#paragraph-style {
    border: 10px solid #fed37c;
    padding: 10px 10px 5px 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

@media all and (min-width: 600px) {
    #paragraph-style::after {
        content: "";
        clear: both;
        display: block;
    }
}

@media all and (min-width: 1000px) {
    #paragraph-style {
        width: 38%;
        float: left;
    }
}

h3 {
    color: #f14b11;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 3em;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

h4 {
    color: #f7ae36;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2.2em;
    margin: 0;
    padding-bottom: 5px;
}

#paragraph {
    text-align: justify;
}

#button {
    background-color: #3e958f;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fefbd8;
    border: 2px solid #3e958f;
}

#paragraph-style a {
    text-decoration: none;
}

#button:hover {
    text-decoration: none;
    background-color: #fefbd8;
    border: 2px solid #3e958f;
    color: #3e958f;
}

@media all and (min-width: 600px) {
    #button {
        width: 30%;
        float: right;
        margin-top: 0;
    }
}

@media all and (min-width: 1000px) {
    #button {
        width: 45%;
        float: right;
        margin-top: 0;
    }
}

/* Colors */

#colors {
    padding-top: 30px;
}

#colors ul {
    list-style: none;
    padding: 0;
}

#colors li {
    text-align: center;
    margin: 0.5em 0;
    padding: 20px;
    border: 10px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

#color1 {
    background-color: #f14b11;
}

#color2 {
    background-color: #f7ae36;
}

#color3 {
    background-color: #fed37c;
}

#color4 {
    background-color: #fefbd8;
}

#color5 {
    background-color: #3e958f;
}

@media all and (min-width: 600px) {
    #colors li {
        width: 19.45%;
        display: inline-block;
        padding: 40px 0;
    }
}

@media all and (min-width: 1000px) {
    #colors {
        padding: 0;
        float: right;
        width: 60%;
        margin-bottom: 1.5%;
    }
    #colors::after {
        content: "";
        clear: both;
        display: block;
    }
    #colors ul {
        margin: 0;
    }
    #colors li {
        margin: 0;
    }
}

/* Images */

#images {
    padding: 30px 0;
}

#image1 {
    width: 100%;
    border: 10px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 0.25em 0;
}

#image2 {
    width: 100%;
    border: 10px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 0.25em 0;
}

#image3 {
    width: 100%;
    border: 10px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 0.25em 0;
}

@media all and (min-width: 600px) {
    #images::after {
        content: "";
        clear: both;
        display: block;
    }
    #image1 {
        width: 49%;
        float: left;
    }

    #image2 {
        width: 49%;
        float: right;
    }

    #image3 {
        width: 100%;
        border: 10px solid white;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        margin: 0.5em 0;
    }
}

@media all and (min-width: 1000px) {
    #image1 {
        width: 20%;
        margin-left: 11%;
    }

    #image2 {
        width: 20%;
        margin-right: 9%;
    }

    #image3 {
        width: 60%;
        float: right;
        margin-top: 1%;
    }
}
